:root {
    --background-main: #EDEDED;
    --head-footer-bg: #8FD3DF;
    --sidebar-bg: #CCE4E8;
    --text-primary: #3A3A3A;
    --text-secondary: #7b7979;
    --highlight: #68B7C4;
    --image-placeholder-bg: #D9D9D9;
    --grey-ish: #B0B0B0;
    --header-ish: #434242;
    
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text-primary);
}

.div {
    background-color: var(--background-main);
    height: 20vh;
}

.centerDiv {
    width: 100vw;
    height: 50vh;
    margin: 2vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    
}

.center {
    width: 47.5%;
    height: 100%;
    background-color: var(--background-main);
}

.greyBar {
    height: 5vh;
    width: 100%;
    background-color: var(--grey-ish);
}

.box {
    height: 10%;
}

#topDiv {
    width: 97.5%;
    display: flex;
    align-items: center;
    margin-top: 2vh;
}

#bottomDiv {
    width: 97.5%;
    display: flex;
    align-items: center;
}

.headerHighlight {
    height: 100%;
    width: 13%;
    background-color: var(--highlight);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#centerLeft {
    background-color: var(--image-placeholder-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgParagraph {
    background-color: var(--text-secondary);
    width: 67.5%;
    height: 0.5vh;
    margin-top: 1vh;
}

.blackBox {
    height: 100%;
    width: 10%;
    background-color: var(--text-primary);
    margin-right: 5%;
}

.whiteBox {
    height: 100%;
    width: 50%;
    background-color: white ;
}

.row {
    height: 10%;
    width: 100%;
}

.inputBox {
    height: 10%;
    width: 50%;
    background-color: var(--background-main);
    margin: 5%;
}

#bottomInput {
    background-color: var(--text-primary);
    width: 35%;
}

#topInput {
    margin-top: 20%;
}

#article {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

#img {
    display: flex;
    justify-content: center;
    margin-right: 1.2vw;
}

#text {
    font-size: small;
    width: 92.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headerImg {
    background-color: var(--header-ish);
    height: 2vh;
    width: 15vw;
    margin-top: 0.7vh;
}

#smallP {
    width: 40%;
}

.highlightRow {
    display: flex;
    justify-content: center;
    margin: 5%;
}

#secondHighlight {
    display: flex;
    justify-content: flex-start;
}

#thirdHighlight {
    height: 20%;
    width: 25%;
    margin: 5%;
    margin-bottom: -2.5%;
}

.whiteSpace {
    width: 87vw;
    height: 100%;
    background-color: var(--image-placeholder-bg);
    display: flex;
    justify-content: center;
}

.bottomWhiteBox {
    background-color: white;
    width: 15%;
    height: 20%;
}

.bottomBox {
    width: 20%;
    height: 100%;
    margin-right: 5%;
    display: flex;
    align-items: center;
}

#short {
    margin-bottom: 0;
}

#short1 {
    margin-bottom: 0;
    width: 50%;
}

.organize {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.property {
    width: 100%;
    height: 15%;
}

.greyBox {
    width: 40%;
    height: 5%;
    background-color: var(--header-ish);
}

.bigBlackBox {
    height: 100%;
    width: 9.5%;
    background-color: var(--header-ish);
    margin-left: 5%;
    margin-top: 5%;
}